.sidebar{
    float: left;
    height: 100%;
    width: 40vw;
    position: fixed;
    overflow: auto;
    z-index: 1;
}
.navbar{
    float: right !important;
}

.offcanvas-backdrop{
    background-color: aquamarine;

}